/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

body {  min-width:400px; }
.hidden {
    display:none;
}

.btn.btn-sm.active{
	background-color: #e5e5e5; /* Old browsers */
  	
  background-repeat: repeat-x; /* Repeat the gradient */
  background-image: -moz-linear-gradient(top, #AAAAAA 0%, #e5e5e5 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #AAAAAA 0%,#e5e5e5 100%); /* Chrome 10+,Safari 5.1+ */
  background-image: -ms-linear-gradient(top, #AAAAAA 0%,#e5e5e5 100%); /* IE10+ */
  background-image: -o-linear-gradient(top, #AAAAAA 0%,#e5e5e5 100%); /* Opera 11.10+ */
  background-image: linear-gradient(top, #AAAAAA 0%,#e5e5e5 100%);
}
.btn-sm{
	margin-bottom:5px;
}
#bokmalBtn{
  margin-left: 2px;
  border-right: 1px solid #AAAAAA;
}
#nynorskBtn{
  border-left: 1px solid #AAAAAA;
}
#searchInput{
	margin-top: 5px;
  margin-left: 2px;
}

.navbar-brand{
  font-size: 25px;
  padding:4px 2px 0px 2px;
  margin:5px 3px 5px 1px;
  width:335px;
}
.navbar-brand a{
  color: #C0C0C0;
  text-decoration:none;
}

.input-group  {

}

.btn-sm{
  margin-top:4px 
}
.form-grp{
  display: inline-block;
}


