/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

body {  
  min-width:360px; 
}
.hidden {
    display:none;
}

/*making room for the magnifingglass*/
input#srch-term.form-control {
    padding-left:26px;
    width: 180px;
}

/*magnifyingglass css*/
form.form-search {
    position: relative;
}

.glyphicon.glyphicon-search.search-icon{
  position: absolute;
  top: 8px;
  left: 4px;
  font-size: 18px; 
  color:#D3D3CF;
}

.glyphicon.glyphicon-search.search-icon:hover{
  font-size: 20px;
  top:7px;
}
/*magnifyingglass css end*/


/* Navbar-brand changes to make searchinput work as a brand */
.navbar-brand{
  font-size: 25px;
  line-height: 27px;
  padding:4px 2px 0px 2px;
  margin:5px 3px 5px 1px;
  width:290px;
}
.navbar-brand a{
  color: #C0C0C0;
  text-decoration:none;
}
/* Navbar-brand changes end*/


.result .wordHit{
    font-weight:bold;
    margin-left: 2px;
}

.result .wordUsage {
    margin-left: 2px;

}
.result .intro {
    margin-left: 2px;
}

.sokeTreff {
    border-bottom: 1px solid #E9E9E9 ;

}

#meaning .wordUsage{
    font-style: italic;
    margin-bottom: 14px;
}

.navbar.navbar-custom.navbar-static-top {
    margin-bottom:1px;
}

.result {
    background-color:#CECECE
}

body {
    background-color: #E9E9E9 ;
}
/* words content */

.navbar-fixed-bottom {
    text-align: center;
    border-top: 1px solid #CECECE;
    background-color: #3f4346;
    color: #19b0b0;
}





