/* custom button */
.onoffswitch {
    position: relative; width: 95px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    margin-top: 4px;
    margin-left: 0px;

}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 1px solid #3F4346; border-radius: 20px;
}


.onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; width: 50%; height: 25px; padding: 0; line-height: 25px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "Nynorsk";
    padding-left: 8px;
    background-color: #27292B; color: #19B0B0;
}

.onoffswitch-inner:after {
    content: "Bokmål";
    padding-right: 14px;
    background-color: #27292B; color: #19B0B0;
    text-align: right;
}

.onoffswitch-switch {
    width: 20px; margin: 3px;
    background: #19B0B0;
    border: 2px solid #19B0B0; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 69px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

/*the html
<div class="onoffswitch">
    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
    <label class="onoffswitch-label" for="myonoffswitch">
        <div class="onoffswitch-inner"></div>
        <div class="onoffswitch-switch"></div>
    </label>
</div>
*/
